@use '../generics/variables.scss' as v;

.nav {
  margin-left: 2rem;
  margin-right: 2rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  display: flex;
  overflow-x: scroll;
  gap: 2rem;

  &-tile-wrapper {
    height: 30rem;
    min-width: 30rem;
    position: relative;

    &:hover .nav-tile--front {
      transform: rotateY(-180deg);
    }

    &:hover .nav-tile--back {
      transform: rotateY(0);
    }
  }

  &-tile {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 2px solid #fff;

    &--front {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 2rem;

      &__icon {
        width: 10rem;
      }

      &__title {
        font-size: 5rem;
        font-family: v.$font-display;
      }
    }

    &--back {
      transform: rotateY(180deg);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__title {
        font-size: 5rem;
        font-family: v.$font-display;
      }

      &__lists {
        font-size: 2rem;
      }
    }
  }
}
