@use './generics/reset.scss';
@use './global.scss';
@use './generics/typo.scss';
@use './layout/index.scss';

body {
  background-image: url(../assets/images/Image_BG.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
